[submodule "content/themes/oncode"]
	path = content/themes/oncode
	url = https://oncodedesigndeploy:bvpkw3pmk2e3bls44537zs4n3zag6ysoqf7vo7grezpceovkszea@seido.visualstudio.com/DefaultCollection/_git/Blog-theme