[submodule "content/themes/oncode"]
	path = content/themes/oncode
	url = https://oncodedesigndeploy:chhgj2jgmyu42igfkm3jnhqgjepuf62gobc5nlcciuzfpmfnftua@seido.visualstudio.com/DefaultCollection/_git/Blog-theme