@import "less_parts/variables.less";

.header-content {
  height: 100%;
  padding-top: 30px;
  padding-bottom: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: @theme-color;
  white-space: nowrap;

  a {
    color: @theme-color;
  }

  .header-content-box {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    padding-bottom: 15px;

    .header-content-box-title {
      align-self: flex-start;
      font-size: 18px;
      color: @white;
      margin: 0;
      text-decoration: underline;
    }

    .header-content-box-content {
      display: flex;
      flex-direction: row;
      align-items: center;

      .header-more-link {
        font-size: smaller;
        color: @white !important;
      }

      .header-content-training-links {
        margin: 10px;
      }

      .header-content-about-me {
        margin: 10px;
        text-align: left !important;
      }
    }
  }
}

@media (max-width: 991px) {
  .header-content {
    display: none;
  }
}
