/*====================================================
	Importing less files
====================================================*/
/*====================================================
	COLOR VARIABLE FOR THEME
====================================================*/
/*====================================================
	MIXINS
====================================================*/
/*====================================================
	MAIN STYLES
====================================================*/
html,
body {
  height: 100%;
  font-size: 16px;
  line-height: 1.75em;
  font-family: 'Open Sans', sans-serif;
  color: #555555;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}
a {
  color: #06415F;
}
a:hover {
  color: #06415F;
}
a:active,
a:focus,
a img {
  outline: none;
  text-decoration: none;
}
p {
  margin: 0 0 30px;
}
figure {
  margin-bottom: 20px;
}
figcaption {
  font-size: 0.875rem;
  text-align: center;
  margin-top: 8px;
  padding: 0 30px;
}
blockquote {
  border-left: 5px solid #06415F;
}
::-moz-selection {
  color: #FFFFFF;
  background: #06415F;
  text-shadow: none;
}
::selection {
  color: #FFFFFF;
  background: #06415F;
  text-shadow: none;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
.header {
  width: 400px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url('../images/cover-left.jpg');
  background-color: #06415F;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.header a,
.header a:focus {
  color: #FFFFFF;
}
.header #canvas_wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 1;
}
.header #canvas_wrapper canvas {
  -webkit-opacity: 0.2;
  -moz-opacity: 0.2;
  -ms-opacity: 0.2;
  -o-opacity: 0.2;
  opacity: 0.2;
  filter: alpha(opacity=(20));
}
.header .header-content-wrapper {
  width: 100%;
  height: 100%;
  top: 0;
  text-align: right;
  z-index: 2;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 15px;
  padding-left: 15px;
}
.header .header-content-wrapper .branding {
  padding-top: 47px;
  text-align: center;
  font-size: 2.5em;
}
.header .header-content-wrapper .branding a {
  color: #FFFFFF;
}
.header .header-content-wrapper .branding a:hover {
  text-decoration: none;
}
.header .header-content-wrapper .branding a img {
  max-width: 100%;
}
.header .header-content-wrapper .intro {
  margin-top: 5px;
  padding-bottom: 90px;
}
.header .toggle-button {
  background: #343A40;
  width: 20px;
  height: 60px;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -30px;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
  font-size: 24px;
  line-height: 60px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
  z-index: 99;
  -webkit-opacity: 0.2;
  -moz-opacity: 0.2;
  -ms-opacity: 0.2;
  -o-opacity: 0.2;
  opacity: 0.2;
  filter: alpha(opacity=(20));
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.header .toggle-button:hover {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  -ms-opacity: 1;
  -o-opacity: 1;
  opacity: 1;
  filter: alpha(opacity=(100));
}
.header .toggle-button:before {
  display: block;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.header.opened {
  left: -370px;
}
.header.opened .toggle-button:before {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.header .header-bottom {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 0 30px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header .header-bottom .social {
  margin-bottom: 5px;
}
.header .header-bottom .social ul {
  padding: 0;
  margin: 0;
  text-align: center;
}
.header .header-bottom .social ul li {
  list-style: none;
  display: inline-block;
  padding: 0px;
  margin: 2px;
}
.header .header-bottom .social ul li a i {
  width: 32px;
  height: 32px;
  font-size: 0.8em;
  line-height: 32px;
  color: #06415F;
  background: #FFFFFF;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.header .header-bottom .social ul li a:hover i {
  color: #FFFFFF;
  background: #D25B4A;
}
.header .header-bottom .copyright {
  font-size: 0.75em;
}
.top-bar {
  padding: 15px 20px;
  background: #343A40;
  position: fixed;
  left: 400px;
  right: 0;
  top: 0;
  color: #FFFFFF;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 99;
}
.top-bar.expanded {
  left: 30px;
}
.top-bar.push-left {
  right: 300px;
}
.top-bar .search-wrap {
  width: 90%;
  position: relative;
}
.top-bar .form-wrap {
  margin-left: 40px;
}
.top-bar .search-icon {
  font-size: 1.5em;
  line-height: 38px;
  margin-right: 15px;
}
.top-bar #search-field {
  width: 100%;
  background: none;
  border: none;
  color: #fff;
  outline: none;
  padding: 5px 0px;
  margin-bottom: 0;
}
.top-bar #results {
  position: absolute;
  top: 53px;
  width: 100%;
  padding-left: 38px;
  color: #555555;
}
.top-bar #results ul {
  margin: 0;
  padding: 0;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 4px #343A40;
  -moz-box-shadow: 0px 0px 4px #343A40;
  box-shadow: 0px 0px 4px #343A40;
}
.top-bar #results ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.top-bar #results ul li a {
  display: block;
  padding: 5px 15px;
  color: #555555;
}
.top-bar #results ul li a:hover {
  background: #06415F;
  color: #FFFFFF;
  text-decoration: none;
}
.top-bar .sidebar-open {
  font-size: 2.25em;
  cursor: pointer;
}
.main-content-wrapper {
  margin-left: 400px;
  margin-top: 68px;
  min-height: 100%;
  box-sizing: border-box;
  background: #e0ecef;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.main-content-wrapper.expanded {
  margin-left: 30px;
}
.main-content {
  padding-bottom: 45px;
}
#item-container {
  padding-bottom: 30px;
}
.item {
  background: #FFFFFF;
  z-index: 1;
  opacity: 0;
}
.post {
  overflow: hidden;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.post .featured-media img {
  width: 100%;
}
.post .featured-media img:after {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  -ms-opacity: 0;
  -o-opacity: 0;
  opacity: 0;
  filter: alpha(opacity=(0));
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.post .featured-media img:hover:after {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  -ms-opacity: 1;
  -o-opacity: 1;
  opacity: 1;
  filter: alpha(opacity=(100));
}
.post .post-content {
  padding: 0 40px 24px;
}
.post .post-content header {
  margin: 30px 0;
}
.post .post-content header h2 {
  margin: 0;
  line-height: 1.4em;
}
.post .post-content header h2 a {
  color: #292929;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.post .post-content header h2 a:hover {
  text-decoration: none;
  color: #06415F;
}
.post .post-content header .post-meta {
  font-size: 0.75em;
  text-transform: uppercase;
  color: #969696;
}
.post .post-content .post-excerpt {
  margin-bottom: 30px;
}
.post .post-content .tag-list {
  text-transform: uppercase;
  font-size: 0.75em;
  margin-bottom: 15px;
}
.post .post-content .tag-list a {
  color: #969696;
  border: 1px solid #969696;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  padding: 5px 10px;
  margin: 0 5px 4px 0;
  line-height: 1em;
  display: inline-block;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.post .post-content .tag-list a:hover {
  text-decoration: none;
  color: #FFFFFF;
  border: 1px solid #06415F;
  background: #06415F;
}
.post .post-content footer {
  margin-top: 24px;
  font-size: 0.75em;
  text-transform: uppercase;
  color: #969696;
}
.post .post-content footer a {
  color: #969696;
}
.post .post-content footer a:hover {
  color: #06415F;
  text-decoration: none;
}
.post .post-content footer a .avatar {
  width: 30px;
  height: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin-right: 5px;
}
.post .post-content footer a .fa {
  font-size: 1.6em;
  vertical-align: middle;
  margin-right: 5px;
}
.post .post-content footer .comments .fa {
  font-size: 1.6em;
  vertical-align: middle;
  margin-right: 5px;
}
.post.featured {
  position: relative;
}
.post.featured .featured-ribbon {
  position: absolute;
  top: 15px;
  right: -72px;
  background: #06415F;
  white-space: nowrap;
  padding: 0px 10px 0px 5px;
  color: white;
  font-size: 0.75em;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 1;
}
.post.featured .featured-ribbon i {
  margin-right: 10px;
}
.post.featured .featured-ribbon:before {
  content: "";
  position: absolute;
  border-top: 14px solid #06415F;
  border-left: 10px solid transparent;
  top: 0;
  right: 100%;
}
.post.featured .featured-ribbon:after {
  content: "";
  position: absolute;
  border-bottom: 14px solid #06415F;
  border-left: 10px solid transparent;
  bottom: 0;
  right: 100%;
}
.post.featured .featured-ribbon:hover {
  right: 0;
}
.pagination-wrap {
  text-align: center;
}
.pagination {
  display: none;
}
.page-loader,
.page-loader:focus {
  padding: 10px 20px;
  background: #06415F;
  color: #FFFFFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-decoration: none;
  line-height: 42px;
}
.page-loader:hover,
.page-loader:focus:hover {
  background: #343A40;
  color: #FFFFFF;
  text-decoration: none;
}
.page-loader i,
.page-loader:focus i {
  width: 20px;
  height: 20px;
  line-height: 20px;
}
#back-to-top {
  position: fixed;
  right: 10px;
  bottom: 10px;
  background: rgba(52, 58, 64, 0.7);
  color: #FFFFFF;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  z-index: 1;
  display: none;
}
#back-to-top:hover {
  background: #06415F;
}
#back-to-top i {
  width: 30px;
  height: 30px;
  line-height: 30px;
}
/*====================================================
	tag page, author page
====================================================*/
.intro-wrap {
  padding-top: 30px;
}
.intro-wrap .intro {
  margin: 0 30px;
  padding: 30px 45px;
  background: #343A40;
  color: #FFFFFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-align: center;
}
.intro-wrap .intro .tag-name {
  margin-top: 0px;
}
.intro-wrap .intro .tagged-post-count {
  font-size: 0.75em;
  text-transform: uppercase;
  color: #969696;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  padding: 2px 10px;
}
.intro-wrap .intro .avatar-wrap {
  position: relative;
}
.intro-wrap .intro .avatar-wrap .avatar {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.intro-wrap .intro .avatar-wrap .author-rss {
  position: absolute;
  left: 50%;
  bottom: 0px;
  background: #FFFFFF;
  color: #555555;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  margin-left: -10px;
  font-size: 0.6em;
  line-height: 1em;
}
.intro-wrap .intro .avatar-wrap .author-rss i {
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.intro-wrap .intro .avatar-wrap .author-rss:hover {
  color: #06415F;
}
.intro-wrap .intro .name {
  font-size: 1.25em;
  margin-top: 5px;
}
.intro-wrap .intro .meta-info {
  font-size: 0.75em;
  margin-top: 20px;
}
.intro-wrap .intro .meta-info span {
  margin-right: 15px;
  color: #969696;
}
.intro-wrap .intro .meta-info span.loaction {
  text-transform: uppercase;
}
.intro-wrap .intro .meta-info span i {
  font-size: 1.25em;
  margin-right: 5px;
}
.intro-wrap .intro .meta-info span a {
  color: #969696;
}
.intro-wrap .intro .meta-info span a:hover {
  color: #06415F;
  text-decoration: none;
}
.intro-wrap .intro .bio {
  margin-top: 5px;
}
/*====================================================
	full post
====================================================*/
.outer-wrap {
  margin: 30px;
  background: #FFFFFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.inner-wrap {
  max-width: 850px;
  margin: 0 auto;
}
.post-content header h1 {
  font-size: 3em;
}
.post-content img {
  max-width: 100%;
}
.post-content .kg-embed-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}
.post-content .kg-gallery-container {
  display: flex;
  flex-direction: column;
}
.post-content .kg-gallery-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.post-content .kg-gallery-image img {
  display: block;
  margin: 0;
  width: 100%;
  height: 100%;
}
.post-content .kg-gallery-row:not(:first-of-type) {
  margin: 0.75em 0 0 0;
}
.post-content .kg-gallery-image:not(:first-of-type) {
  margin: 0 0 0 0.75em;
}
.post-content .kg-bookmark-card {
  margin: 2rem 0px 3rem 0px;
}
.post-content .kg-bookmark-container {
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  background: transparent;
  padding: 8px;
  flex-direction: column-reverse;
  border: 1px solid #ebebeb;
  color: #555555;
}
.post-content .kg-bookmark-container:hover {
  color: #555555;
}
.post-content .kg-bookmark-container:hover .kg-bookmark-title {
  color: #06415F;
}
.post-content .kg-bookmark-content {
  flex-basis: 0;
  flex-grow: 999;
  min-width: 50%;
  padding: 8px;
}
.post-content .kg-bookmark-title {
  font-size: 1.25rem;
  line-height: 1.3;
  color: #292929;
  transition: all 0.3s;
}
.post-content .kg-bookmark-description {
  font-size: 1rem;
  line-height: 1.5;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.post-content .kg-bookmark-description,
.post-content .kg-bookmark-metadata {
  margin-top: 16px;
}
.post-content .kg-bookmark-metadata {
  display: flex;
  align-items: center;
  font-size: 0.75rem;
}
.post-content .kg-bookmark-thumbnail {
  flex-basis: 216px;
  flex-grow: 1;
  position: relative;
  overflow: hidden;
}
.post-content .kg-bookmark-thumbnail img {
  position: absolute;
  top: 0;
  left: 0;
  vertical-align: bottom;
  object-fit: cover;
  width: 100%;
  height: 216px;
}
.post-content .kg-bookmark-icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  vertical-align: bottom;
}
.post-content .kg-bookmark-author,
.post-content .kg-bookmark-publisher {
  font-size: 0.875rem;
}
.post-content .kg-bookmark-author:after {
  content: "•";
  margin: 0 6px;
}
.medium-zoom-overlay {
  z-index: 100;
}
.medium-zoom-image {
  z-index: 101;
}
.post-upgrade-cta-box {
  border: 1px solid #ebebeb;
  padding-top: 24px;
  border-radius: 7px;
  margin-top: 24px;
}
.post-upgrade-cta-box .title {
  margin-bottom: 32px;
}
.post-upgrade-cta-box .sign-in-cta {
  margin-top: 16px;
}
.post-share {
  text-align: center;
}
.post-share ul {
  padding: 0;
  margin-top: 5px;
}
.post-share ul li {
  list-style: none;
  display: inline-block;
  padding: 0px;
  margin: 0 0 5px 0;
  text-align: center;
  font-size: 0.75em;
}
.post-share ul li a i {
  width: 32px;
  height: 32px;
  font-size: 0.8em;
  line-height: 32px;
  color: #969696;
  border: 1px solid #969696;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.post-share ul li a:hover i {
  color: #FFFFFF;
}
.post-share ul li a:hover .fa-facebook {
  background: #3b5998;
  border: 1px solid #3b5998;
}
.post-share ul li a:hover .fa-twitter {
  background: #00acee;
  border: 1px solid #00acee;
}
.post-share ul li a:hover .fa-google-plus {
  background: #dd4b39;
  border: 1px solid #dd4b39;
}
.post-share ul li a:hover .fa-digg {
  background: #0093CC;
  border: 1px solid #0093CC;
}
.post-share ul li a:hover .fa-reddit {
  background: #ff4500;
  border: 1px solid #ff4500;
}
.post-share ul li a:hover .fa-linkedin {
  background: #0e76a8;
  border: 1px solid #0e76a8;
}
.post-share ul li a:hover .fa-skype {
  background: #00aff0;
  border: 1px solid #00aff0;
}
.post-share ul li a:hover .fa-pinterest {
  background: #c8232c;
  border: 1px solid #c8232c;
}
.post-share ul li a:hover .fa-stumbleupon {
  background: #eb4924;
  border: 1px solid #eb4924;
}
.about-author {
  padding: 40px;
}
.about-author .avatar {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-top: 5px;
}
.about-author .details {
  margin-left: 115px;
}
.about-author .details .author {
  font-size: 1.25em;
}
.about-author .details .author a {
  color: #555555;
}
.about-author .details .author a:hover {
  text-decoration: none;
  color: #06415F;
}
.about-author .meta-info {
  font-size: 0.75em;
  margin-top: 5px;
}
.about-author .meta-info span {
  margin-right: 15px;
  color: #969696;
}
.about-author .meta-info span.loaction {
  text-transform: uppercase;
}
.about-author .meta-info span i {
  font-size: 1.25em;
  margin-right: 5px;
}
.about-author .meta-info span a {
  color: #969696;
}
.about-author .meta-info span a:hover {
  color: #06415F;
  text-decoration: none;
}
.about-author .bio {
  margin-top: 5px;
}
.disqus-container {
  padding: 40px;
}
/*====================================================
	sidebar style
====================================================*/
.sidebar-wrap {
  width: 300px;
  position: fixed;
  top: 0;
  right: -300px;
  height: 100%;
  overflow: hidden;
  background: #1d2124;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 9;
}
.sidebar-wrap.opened {
  right: 0px;
}
.sidebar {
  height: 100%;
  color: #FFFFFF;
  padding: 15px 30px;
  overflow-y: scroll;
}
.sidebar a {
  color: white;
}
.sidebar .widget {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #343A40;
}
.sidebar .widget:last-child {
  border-bottom: none;
}
.sidebar .widget input[type='text'],
.sidebar .widget input[type='email'],
.sidebar .widget input[type='url'],
.sidebar .widget textarea {
  border-color: #343A40;
}
.sidebar .widget input[type='text']:focus,
.sidebar .widget input[type='email']:focus,
.sidebar .widget input[type='url']:focus,
.sidebar .widget textarea:focus {
  border-color: #06415F;
}
.sidebar .menu {
  padding: 0;
  margin: 0;
}
.sidebar .menu li {
  list-style: none;
}
.sidebar .menu li a {
  padding: 10px;
  display: block;
}
.sidebar .menu li a:hover {
  text-decoration: none;
  color: #06415F;
}
.sidebar .menu li.nav-current a {
  color: #06415F;
}
.sidebar #tagcloud a {
  font-size: 0.75em;
  text-transform: uppercase;
  background: #343A40;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  padding: 6px 11px;
  margin: 0 5px 4px 0;
  line-height: 1em;
  display: inline-block;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.sidebar #tagcloud a:hover {
  text-decoration: none;
  color: #FFFFFF;
  background: #06415F;
}
input[type='text'],
input[type='email'],
input[type='url'],
textarea {
  width: 100%;
  background: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #ebebeb;
  padding: 5px 10px;
  outline: none;
  margin-bottom: 16px;
}
input[type='text']:focus,
input[type='email']:focus,
input[type='url']:focus,
textarea:focus {
  border: 1px solid #06415F;
}
.btn {
  height: 40px;
  line-height: 24px;
}
.btn-default {
  border: none;
}
.btn-default:hover {
  background: #06415F;
  color: #FFFFFF;
  border: none;
}
.btn-default:focus {
  outline: none;
}
.btn-primary {
  background-color: #06415F;
  border-color: #06415F;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: #085177;
  border-color: #085177;
}
#fb {
  background: #FFFFFF;
}
/*=====================================================
	Subscription
=====================================================*/
.message-success,
.message-error {
  margin: 16px 0;
  border-radius: 5px;
  padding: 4px 16px;
  display: none;
  color: #FFFFFF;
}
.message-success {
  background-color: #2db603;
}
.message-error {
  background-color: #e71212;
}
.success .message-success {
  display: inline-block;
}
.error .message-error {
  display: inline-block;
}
.subscription-form-footer {
  margin-top: 32px;
}
.signup-content-wrap {
  margin: 40px;
}
.pricing-table-wrap {
  align-items: stretch;
  justify-content: center;
  margin: 2rem -16px 0;
}
.pricing-table {
  flex: 1 1 100%;
  flex-direction: column;
  margin: 16px;
  border: 1px solid #ebebeb;
  padding: 2rem;
  border-radius: 3px;
}
@media (min-width: 768px) {
  .pricing-table {
    flex: 0 1 calc(50% - 32px);
  }
}
@media (min-width: 1400px) {
  .pricing-table {
    flex: 0 1 calc(33.33% - 32px);
  }
}
.pricing-table-title {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
.price {
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid var(--border-color);
  line-height: 1.2;
}
.price .currency,
.price .value {
  font-size: 3rem;
  color: var(--text-color-dark);
}
.price .value {
  font-weight: 700;
}
.price .duration {
  text-transform: uppercase;
  font-size: 0.875rem;
}
.table-details {
  flex-grow: 1;
  padding: 0;
  margin: 0;
  list-style: none;
}
.table-details li {
  margin-bottom: 1rem;
}
.table-footer {
  margin: 2rem 0 0.5rem;
}
.pricing-currency {
  margin-bottom: 1rem;
}
subscription-expiration-warning {
  color: #e71212;
}
.subscriber-info {
  border: 1px solid #ebebeb;
  margin-top: 2rem;
}
.subscriber-info .subscriber-detail {
  padding: 1.5rem;
  width: 100%;
}
.subscriber-info .subscriber-detail .item-label {
  font-weight: 700;
}
.members-button-wrap {
  margin-top: 32px;
}
.members-button-wrap a {
  margin: 0px 8px 16px;
}
.members-button-wrap [data-members-cancel-subscription] {
  background: #e71212;
  border-color: #e71212;
}
.members-button-wrap [data-members-cancel-subscription]:hover,
.members-button-wrap [data-members-cancel-subscription]:focus {
  opacity: 0.8;
}
.members-button-wrap [data-members-continue-subscription] {
  background: #2db603;
  border-color: #2db603;
}
.members-button-wrap [data-members-continue-subscription]:hover,
.members-button-wrap [data-members-continue-subscription]:focus {
  opacity: 0.8;
}
.members-button-wrap .cancel-error {
  color: #FFFFFF;
  border-radius: 3px;
  padding: 4px 8px;
  margin-top: 2rem;
  font-size: 0.875rem;
  display: none;
}
.members-button-wrap .error + .cancel-error {
  display: inline-block;
}
@media (min-width: 768px) {
  .subscriber-info .subscriber-detail {
    width: 50%;
  }
}
.notification {
  width: 100%;
  height: auto;
  background: #2db603;
  color: #FFFFFF;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  z-index: 99999;
  transform: translateY(-100%);
  transition: all 0.25s ease-in-out;
}
.notification.visible {
  transform: translateY(0);
}
.notification .notification-close {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.notification .notification-close .close-icon {
  position: absolute;
  top: 16px;
  right: 16px;
  transform: scale(1);
  opacity: 0.6;
  transition: all 0.3s;
}
.notification .notification-close .close-icon:before {
  content: "+";
  transform: rotate(45deg);
  display: inline-block;
  font-size: 30px;
  color: #FFFFFF;
}
.notification .notification-close .close-icon:hover {
  opacity: 1;
  transform: scale(1.1);
}
.loading-icon {
  display: none;
}
.loading .loading-icon {
  display: inline-block;
  margin-right: 8px;
}
/*====================================================
	small device footer
====================================================*/
.footer-small-device {
  text-align: center;
  padding: 30px 0;
  background: #343A40;
  color: #FFFFFF;
}
.footer-small-device a {
  color: #FFFFFF;
}
.footer-small-device .social {
  margin-bottom: 15px;
}
.footer-small-device .social ul {
  padding: 0;
  margin: 0;
  text-align: center;
}
.footer-small-device .social ul li {
  list-style: none;
  display: inline-block;
  padding: 0px;
  margin: 2px;
}
.footer-small-device .social ul li a i {
  width: 32px;
  height: 32px;
  font-size: 0.8em;
  line-height: 32px;
  color: #343A40;
  background: #FFFFFF;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.footer-small-device .social ul li a:hover i {
  color: #FFFFFF;
  background: #06415F;
}
.footer-small-device .copyright {
  font-size: 0.75em;
}
/*====================================================
	animation
====================================================*/
.animate {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fade-in-up;
  -moz-animation-name: fade-in-up;
  animation-name: fade-in-up;
}
@-webkit-keyframes fade-in-up {
  0% {
    -webkit-transform: translateY(10px);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
    filter: alpha(opacity=(0));
  }
  100% {
    -webkit-transform: translateY(0px);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
    filter: alpha(opacity=(100));
  }
}
@-moz-keyframes fade-in-up {
  0% {
    -moz-transform: translateY(10px);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
    filter: alpha(opacity=(0));
  }
  100% {
    -moz-transform: translateY(0px);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
    filter: alpha(opacity=(100));
  }
}
@keyframes fade-in-up {
  0% {
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
    filter: alpha(opacity=(0));
  }
  100% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
    filter: alpha(opacity=(100));
  }
}
/*====================================================
	media query
====================================================*/
@media (min-width: 992px) {
  .post-content .kg-width-full {
    position: relative;
    max-width: calc(100vw - 460px);
    width: calc(100vw - 460px);
    left: 50%;
    right: 50%;
    margin-left: calc(230px - 50vw);
  }
  .post-content .kg-width-full img {
    width: 100%;
  }
  .expanded .post-content .kg-width-full {
    position: relative;
    max-width: calc(100vw - 60px);
    width: calc(100vw - 60px);
    left: 50%;
    right: 50%;
    margin-left: calc(30px - 50vw);
  }
  .expanded .post-content .kg-width-full img {
    width: 100%;
  }
  .expanded .kg-width-wide {
    position: relative;
    max-width: 70vw;
    left: 50%;
    right: 50%;
    margin-left: -35vw;
    margin-right: -35vw;
  }
  .expanded .kg-width-wide img {
    width: 100%;
  }
}
@media (max-width: 991px) {
  .header {
    background-image: url('../images/top-cover-w992.jpg');
    position: relative;
    width: auto;
    height: auto;
    margin-top: 68px;
    padding-right: 30px;
    left: 0;
  }
  .header .header-content-wrapper .branding {
    padding-top: 40px;
  }
  .header .header-content-wrapper .intro {
    margin-top: 5px;
    padding-bottom: 120px;
  }
  .main-content-wrapper {
    margin-left: 0;
    margin-top: 0;
  }
  .top-bar {
    left: 0;
  }
}
@media (max-width: 767px) {
  .top-bar .search-wrap {
    max-width: 80%;
    min-width: 48px;
  }
}
@media (min-width: 768px) {
  .post-content .kg-bookmark-container {
    flex-direction: row;
  }
  .post-content .kg-bookmark-thumbnail {
    flex-basis: 13em;
    min-height: 144px;
  }
}
@media (max-width: 414px) {
  .header {
    padding-right: 0px;
  }
  .header .header-content-wrapper {
    padding-right: 15px;
  }
  .header .header-content-wrapper .branding {
    padding-top: 40px;
  }
  .header .header-content-wrapper .intro {
    padding-bottom: 45px;
  }
}
@media (max-width: 360px) {
  .header .header-content-wrapper .branding {
    width: 90%;
  }
  .header .header-content-wrapper .intro {
    font-size: 14px;
  }
  .top-bar.push-left {
    right: 250px;
  }
  .top-bar.push-left .search-wrap {
    display: none;
  }
  .top-bar.push-left .search-icon {
    display: none;
  }
  .sidebar-wrap {
    max-width: 250px;
  }
}
/*# sourceMappingURL=screen.css.map */