/*====================================================
	COLOR VARIABLE FOR THEME
====================================================*/
@theme-color: #204061;              // theme color
@bg-color: #343A40;					// Background color / secondary theme color
@bg-color-light: #e0ecef;			// Light background color
@text-color: #555555;				// Main text color
@text-color-heading: #292929;		// Heading text color
@text-color-light: #969696;			// Light text color
@border-color: #ebebeb;				// border color
@error: #e71212;					// error color
@success: #2db603;					// success color
@black: #000000;					// Pure black
@white: #FFFFFF;					// Pure White
@orange: #f58536;                   // OnCodeDesign orange color
@yellow: #ffc42c;                    // OnCodeDesign yellow color