<section class="intro-wrap">
	<div class="intro intro-tag">
		<h2 class="tag-name">{{t "TAG:"}} {{tag.name}}</h2>
		<span class="tagged-post-count">{{plural pagination.total empty=(t "0 post") singular=(t "1 post") plural=(t "% posts")}}</span>
	</div>
</section>