{{! Start main header}}
<header class="header">
	<div class="header-content-wrapper">
		<!-- start branding -->
		<div class="branding">
            <a href="{{@site.url}}"><img src="./assets/images/OnCodeDesign-logo-header.png" alt="{{@site.title}}"></a>
		</div>
		<!-- end branding -->
		<!-- start intro text -->
		<div class="intro">
			{{@site.description}}
		</div>
		<!-- end intro text -->
		<div class="header-bottom hidden-sm hidden-xs">
			{{! insert slocial links}}
			{{> social_link}}
			{{! Insert copyright partial}}
			{{> copyright}}
		</div>
	</div>
</header>
{{! end main header}}